.availableMedicine {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

strong {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
